@model aplikacija.Models.Naslov

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Naslov</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OsebaID" class="control-label"></label>
                <select asp-for="OsebaID" class ="form-control" asp-items="ViewBag.OsebaID"></select>
            </div>
            <div class="form-group">
                <label asp-for="HisnaSt" class="control-label"></label>
                <input asp-for="HisnaSt" class="form-control" />
                <span asp-validation-for="HisnaSt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ulica" class="control-label"></label>
                <input asp-for="Ulica" class="form-control" />
                <span asp-validation-for="Ulica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Posta" class="control-label"></label>
                <input asp-for="Posta" class="form-control" />
                <span asp-validation-for="Posta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mesto" class="control-label"></label>
                <input asp-for="Mesto" class="form-control" />
                <span asp-validation-for="Mesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

